@font-face {
    font-family: 'poppins';
    src: url(../font/poppins.ttf) format(truetype);
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    color: aliceblue;
}

.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url("../images/texture0.jpg") repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 21s infinite; /* nombre de la animación */
    opacity: .8;
    visibility: visible;
    z-index: -1;
  }

  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(0, 0) }
  }

div {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(53, 21, 93, 0.312);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12vw;
}

h1 {
    margin: 0;
    padding: 0;
}

h1.hide {
    display: none;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 360px;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

ul.show {
    width: auto;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

li {
    padding-left: 12px;

}

nav a {
    color: aliceblue;
    text-decoration: none;
}

nav a::after {
    content: "";
    display: block;
    height: 3px;
    background-color: aliceblue;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform 0.3s;
}

nav a:hover::after {
    transform: scale(1,1);
}

button.hamburger {
    position: relative;
    display: none;
}

main {
    width: 80%;
    height: 89vh;
    padding: 0 12vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.section-one {
    width: 100%;
}

.section-one h2 {
    margin-top: 0;
    padding-top: 0;
}

.section-one form {
    width: 89%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section-one input, textarea {
    padding: 5px;
    border: 1px solid rgb(53, 21, 93);
    border-radius: 3px;
    font-family: 'poppins', sans-serif;
    background-color: rgba(240, 248, 255, 0.8);
}

.section-one input::placeholder, textarea::placeholder {
    color: rgba(53, 21, 93, 0.312);
}

.section-one button {
    color: aliceblue;
    background-color: rgba(53, 21, 93, 0.8);
    padding: 7px;
    font-family: 'poppins', sans-serif;
    font-size: 1em;
    border: 1px solid rgb(53, 21, 93);
    border-radius: 3px;
    transition: 0.5s ease-in-out;
}

.section-one button:hover {
    color: rgb(53, 21, 93);
    background-color: rgba(240, 248, 255, 0.5);
}

.section-two {
    position: absolute;
    right: 12vw;
    display: flex;
    flex-direction: column;
}

.section-two a {
    color: aliceblue;
    padding: 7px;
    font-size: 1.6em;
    transition: 0.5s ease-in-out;
}

.section-two a:hover {
    transform: scale(1.7);
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 1.5em;
    }
    nav>ul>li {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 650px) {
    header {
        padding: 0 7vw;
    }

    h1 {
        font-size: 1.2em;
    }

    nav {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    button.hamburger {
        display: block;
        padding: 20px 0;
        border: 0;
        background-color: transparent;
        color: aliceblue;
        font-size: 27px;
    }

    ul {
        display: none;
    }

    li {
        margin: 0;
        padding: 0 3px;
        font-size: small;
    }

    main {
        padding: 0 7vw;
    }

    h2 {
        font-size: 1.17em;
    }

    .section-one form {
        width: 100%;
    }

    .section-two {
        right: 7vw;
    }
}
